gevent-websocket>=0.9.5,<1.0.0
leancloud>=2.9.4,<3.0.0
markupsafe<=2.0.1
Flask>=1.0.0
Flask-Sockets>=0.1,<1.0
requests~=2.31.0
ddddocr~=1.4.8
pillow~=9.5.0
loguru~=0.7.2
prettytable~=3.9.0
beautifulsoup4~=4.12.2
gevent~=22.10.2
werkzeug~=1.0.1
convertapi==1.7.0
python-docx==1.1.0
PyMuPDF==1.23.16
PyMuPDFb==1.23.9

